.chart-area {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--color-text-primary);
  font-size: 10px;
  
}
canvas {
  width: 100% !important;
  height: 100% !important;
}